.faq-page {
  h5 {
    margin-bottom: 10px;
  }

  p {
    padding-bottom: 25px;
    border-bottom: 1px solid $lightgrey;
  }

  .faq-section h2 {
    padding-bottom: 0;
    text-align: center;
    border-bottom: none;
    font-size: 1.5em;
    margin-bottom: 30px;
  }
}
