// Kitchen Sink
img.responsive {
  max-width: 100%;
}

.hide-mobile {
  display: none !important;
}

@media (min-width: $desktopmq) {
  .hide-mobile {
    display: block !important;
  }

  .hide-desktop {
    display: none !important;
  }
}

.main-body .pagination-container {
  background: transparent !important;
}

.pagination {
  text-align: center;
  height: 0;

  .page {
    display: inline-block;
    position: relative;
    top: 35px;
    padding: 0 10px;
    height: 32px;
    line-height: 30px;
    margin: 0 1px;
    border: solid 1px #e7e7e7;
    background: white;
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    font-family: Arial;
  }

  .page.active {
    border: 1px solid $yellow;
    background: $yellow;
    color: white;
  }
}

@media (min-width: $desktopmq) {
  .pagination {
    padding: 30px 0;

    .page {
      padding: 0 15px;
      height: 38px;
      line-height: 36px;
      top: 60px;
    }

    .page:hover {
      background: $grey;
      color: white;
      border: 1px solid $grey;
    }
  }
}
