.login-page {
  padding-top: 70px;
  padding-bottom: 30px;
  background: url(../img/slider-home/australia.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  h1 {
    text-align: center;
    color: white;
    font-size: em(38px);
    margin-bottom: 30px;
    line-height: 28px !important;
    text-transform: uppercase;
    letter-spacing: -2px;
    line-height: 20px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
  }

  @media (min-width: $desktopmq) {
    h1 {
      font-size: em(52px);
      line-height: 70px;
      margin-bottom: 50px;
    }

    padding-top: 200px;
    padding-bottom: 100px;
  }
}

.main-body.login-page {
  .container {
    background: transparent;
  }

  form {
    background: rgba(#000000, 0.8);
    padding: 20px;

    @include border-radius(4px);
  }

  input {
    margin: 0 0 20px 0;

    &:last-child {
      margin: 0;
    }
  }

  .fp-checkbox {
    float: left;
  }

  label {
    float: left;
    margin: 4px 0 20px 10px;
    color: $white;
    cursor: pointer;
  }

  label.error {
    float: none;
  }

  a {
    clear: both;
    display: block;
    color: $white;
    margin-bottom: 15px;
  }
}
